
.card
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	margin-top: 10px
	box-sizing: border-box
	border-radius: 2px
	background-clip: padding-box
	background-color: #fff
	a:not(.btn)
		color: white
		&:hover
			text-decoration: none
			color: white
	
	.card-title
		color: #21a1e1 !important
		font-size: 22px
		font-weight: 300 !important
		background-color: #fff
		border-right: 4px solid #21a1e1
		border-top: 4px solid #21a1e1
		border-top-right-radius: 5px
		margin: 0px
	.card-image
		position: relative
		overflow: hidden
		img
			border-radius: 2px 2px 0 0
			background-clip: padding-box
			position: relative
			width: 100%
			height: 380px
			margin: 0 auto
		.card-title
			position: absolute
			bottom: 0
			left: 0
			padding: 16px
	.card-content
		padding: 16px
		border-radius: 0 0 2px 2px
		background-clip: padding-box
		box-sizing: border-box
		background-color: $blue
		color: white
		h2,
		h3
			color: white
			font-weight: 300 !important
			margin: 0
			text-align: left !important
		p:last-child
			margin: 0
			
		.card-title
			line-height: 48px
	.card-action
		border-top: 1px solid rgba(160, 160, 160, 0.2)
		padding: 7px

	a.btn
		margin: 5px
		&:not(:first-child)
			margin: 5px
@media all and (min-width: 768px)
	.card
		.row:not(#sessions_list)
			div:first-child
				padding-right: 0
			div:nth-child(2)
				padding-left: 0
			.card-action
				padding: 16px !important
	.card-highlight
		position: relative

		.card-title
			bottom: 195px !important
			width: 40%
		.card-content
			position: absolute
			width: 40%
			bottom: 48px
			top: 185px
		.card-action
			position: absolute
			bottom: 0
			background: white
			width: 40%
		a.btn
			margin: 0px !important

@media all and (max-width: 768px)
	.card-highlight
		img
			height: auto !important
