.product-colour
	width: 30px !important
	height: 30px !important
	border: 1px solid #ccc !important
	outline: none
	display: inline-block
	margin: 3px

.product-colour-check:checked + .product-colour
	border: 4px solid #21a1e1 !important

.product-colour
	&:hover, &:active, &:focus
		border-colour: #21a1e1 !important
	&.black
		background: rgb(125, 126, 125)
		background: -moz-linear-gradient(45deg, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%)
		background: linear-gradient(45deg, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#7d7e7d', endcolourstr='#0e0e0e',GradientType=1 )
	&.red
		background: rgb(255, 48, 25)
		background: -moz-linear-gradient(45deg, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%)
		background: linear-gradient(45deg, rgba(255, 48, 25, 1) 0%, rgba(207, 4, 4, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#ff3019', endcolourstr='#cf0404',GradientType=1 )
	&.white
		background-colour: white
	&.blue
		background: rgb(44, 83, 158)
		background: -moz-linear-gradient(45deg, rgba(44, 83, 158, 1) 0%, rgba(44, 83, 158, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(44, 83, 158, 1) 0%, rgba(44, 83, 158, 1) 100%)
		background: linear-gradient(45deg, rgba(44, 83, 158, 1) 0%, rgba(44, 83, 158, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#2c539e', endcolourstr='#2c539e',GradientType=1 )
	&.orange
		background: rgb(255, 168, 76)
		background: -moz-linear-gradient(45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%)
		background: linear-gradient(45deg, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#ffa84c', endcolourstr='#ff7b0d',GradientType=1 )
	&.green
		background: rgb(201, 222, 150)
		background: -moz-linear-gradient(45deg, rgba(201, 222, 150, 1) 0%, rgba(138, 182, 107, 1) 44%, rgba(57, 130, 53, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(201, 222, 150, 1) 0%, rgba(138, 182, 107, 1) 44%, rgba(57, 130, 53, 1) 100%)
		background: linear-gradient(45deg, rgba(201, 222, 150, 1) 0%, rgba(138, 182, 107, 1) 44%, rgba(57, 130, 53, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#c9de96', endcolourstr='#398235',GradientType=1 )
	&.purple
		background: rgb(229, 112, 231)
		background: -moz-linear-gradient(45deg, rgba(229, 112, 231, 1) 0%, rgba(200, 94, 199, 1) 47%, rgba(168, 73, 163, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(229, 112, 231, 1) 0%, rgba(200, 94, 199, 1) 47%, rgba(168, 73, 163, 1) 100%)
		background: linear-gradient(45deg, rgba(229, 112, 231, 1) 0%, rgba(200, 94, 199, 1) 47%, rgba(168, 73, 163, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#e570e7', endcolourstr='#a849a3',GradientType=1 )
	&.pink
		background: rgb(255, 173, 174)
		background: -moz-linear-gradient(45deg, rgba(255, 173, 174, 1) 0%, rgba(255, 122, 159, 1) 47%, rgba(255, 160, 162, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(255, 173, 174, 1) 0%, rgba(255, 122, 159, 1) 47%, rgba(255, 160, 162, 1) 100%)
		background: linear-gradient(45deg, rgba(255, 173, 174, 1) 0%, rgba(255, 122, 159, 1) 47%, rgba(255, 160, 162, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#ffadae', endcolourstr='#ffa0a2',GradientType=1 )
	&.camo
		background: rgb(109, 170, 115)
		background: -moz-linear-gradient(45deg, rgba(109, 170, 115, 1) 0%, rgba(11, 86, 22, 1) 44%, rgba(109, 170, 115, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(109, 170, 115, 1) 0%, rgba(11, 86, 22, 1) 44%, rgba(109, 170, 115, 1) 100%)
		background: linear-gradient(45deg, rgba(109, 170, 115, 1) 0%, rgba(11, 86, 22, 1) 44%, rgba(109, 170, 115, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#6daa73', endcolourstr='#6daa73',GradientType=1 )
	&.white
		background: rgb(255, 255, 255)
		background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%)
		background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#ffffff', endcolourstr='#ededed',GradientType=1 )
	&.neochrome
		background: rgb(255, 0, 0)
		background: -moz-linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(247, 222, 0, 1) 25%, rgba(0, 249, 216, 1) 50%, rgba(140, 0, 247, 1) 75%, rgba(255, 0, 4, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(247, 222, 0, 1) 25%, rgba(0, 249, 216, 1) 50%, rgba(140, 0, 247, 1) 75%, rgba(255, 0, 4, 1) 100%)
		background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(247, 222, 0, 1) 25%, rgba(0, 249, 216, 1) 50%, rgba(140, 0, 247, 1) 75%, rgba(255, 0, 4, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#ff0000', endcolourstr='#ff0004',GradientType=1 )
	&.rasta
		background: rgb(255, 72, 48)
		background: -moz-linear-gradient(left, rgba(255, 72, 48, 1) 0%, rgba(239, 239, 0, 1) 50%, rgba(127, 219, 0, 1) 100%)
		background: -webkit-linear-gradient(left, rgba(255, 72, 48, 1) 0%, rgba(239, 239, 0, 1) 50%, rgba(127, 219, 0, 1) 100%)
		background: linear-gradient(to right, rgba(255, 72, 48, 1) 0%, rgba(239, 239, 0, 1) 50%, rgba(127, 219, 0, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#ff4830', endcolourstr='#7fdb00',GradientType=1 )
	&.chrome
		background: rgb(226, 226, 226)
		background: -moz-linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 40%, rgba(209, 209, 209, 1) 60%, rgba(254, 254, 254, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 40%, rgba(209, 209, 209, 1) 60%, rgba(254, 254, 254, 1) 100%)
		background: linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 40%, rgba(209, 209, 209, 1) 60%, rgba(254, 254, 254, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#e2e2e2', endcolourstr='#fefefe',GradientType=1 )
	&.gold
		background: rgb(239, 209, 0)
		background: -moz-linear-gradient(45deg, rgba(239, 209, 0, 1) 0%, rgba(226, 162, 51, 1) 38%, rgba(240, 195, 40, 1) 60%, rgba(255, 241, 163, 1) 86%, rgba(255, 225, 62, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(239, 209, 0, 1) 0%, rgba(226, 162, 51, 1) 38%, rgba(240, 195, 40, 1) 60%, rgba(255, 241, 163, 1) 86%, rgba(255, 225, 62, 1) 100%)
		background: linear-gradient(45deg, rgba(239, 209, 0, 1) 0%, rgba(226, 162, 51, 1) 38%, rgba(240, 195, 40, 1) 60%, rgba(255, 241, 163, 1) 86%, rgba(255, 225, 62, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startcolourstr='#efd100', endcolourstr='#ffe13e',GradientType=1 )
	&.grey
		background: rgb(106, 109, 117)
		background: -moz-linear-gradient(45deg, rgba(106, 109, 117, 1) 0%, rgba(40, 52, 59, 1) 100%)
		background: -webkit-linear-gradient(45deg, rgba(106, 109, 117, 1) 0%, rgba(40, 52, 59, 1) 100%)
		background: linear-gradient(45deg, rgba(106, 109, 117, 1) 0%, rgba(40, 52, 59, 1) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6d75', endColorstr='#28343b',GradientType=1 )