#cookie-banner
	background-color: $blue
	color: white
	position: fixed
	bottom: 0
	right: 0
	left: 0
	height: auto
	padding: 5px 10px
	text-align: center
	z-index: 99

	p
		text-align: center
		margin-bottom: 0