.double span.message
	max-width: 620px

.contactLarge
	display: block
	margin: 10px auto
	font-size: 32px
	transition: color 300ms ease-in-out
	&:hover
		color: #21a1e1

.membershipNumber
	margin: 0px auto
	font-size: 64px
	text-align: center

.highlightedText
	margin: 20px auto
	font-weight: 32px
	color: #21a1e1
	text-align: center
	display: block

label
	font-size: 15px
	color: #999
	transition: all 0.15s ease-out 0s

a.link
	text-decoration: none
	border-bottom: 1px solid #666
	color: #666
	transition: color 150ms ease-in-out, border-color 400ms ease-in-out
	&:hover
		color: #21a1e1
		border-color: #21a1e1

div.pricing
	text-align: center

p
	&.small
		width: 100%
		max-width: 600px
		margin: 0 auto !important
		display: block
		text-align: justify
	&.medium
		width: 100%
		max-width: 600px
		margin: 0 auto !important
		display: block
		text-align: justify
		font-size: 18px
	&.small
		font-size: 14px
	&.free, &.booked
		padding: 10px 20px
		font-size: 22px
	&.free
		background-color: #2DCC40
	&.booked
		background-color: #FF4136



h1.category
	background-color: #21a1e1
	color: white !important

.price_summary, .highlightedText, .membershipNumber
	margin: 20px auto
	font-size: 64px
	color: #21a1e1
	text-align: center
	display: block
span.copyright,
span.reg_char_footer 
	font-size: 13px
.price_summary,
.highlightedText
	font-size: 32px!important
.center
	text-align: center
p.medium
	font-size: 18px
	font-weight: 400
.capitalize
	text-transform: capitalize
.uppercase
	text-transform: uppercase
.lowercase
	text-transform: lowercase

.error
	color: $state-danger-text
	text-align: left
	display: block
p.session_name
	line-height: 33px
	&.event
		font-size: 14px
		font-style: italic
		font-weight: bold

h3
	margin-top: 0px !important
	margin-bottom: 20px !important
	font-size: 16px !important
	font-weight: 300 !important
	line-height: 1.4 !important
	

@media (min-width: 768px)
	h3 	
		font-size: 21px !important
	h1
		font-size: 24px

@media screen and(max-width: 768px)
	h1
		font-size: 18px