footer
  background-color: #292c2f
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  width: 100%
  text-align: left
  font: bold 16px sans-serif
  padding: 55px 50px
  margin-top: 80px

  svg
    margin: 0 auto
    max-width: 205px
    width: 100%
  .footer-left, .footer-center, .footer-right
    display: inline-block
    vertical-align: top
  .footer-left
    width: 40%
  h3
    color: #fff
    font: normal 36px Cookie, cursive
    margin: 0
    span
      color: #5383d3
  .footer-links
    color: #fff
    margin: 20px 0 12px
    padding: 0

.footer-links a
  display: inline-block
  line-height: 1.8
  text-decoration: none
  color: inherit
  transition: color 200ms ease-in-out
    

  .fa:hover:before
    color: white !important

.footer-company-name
  color: #8f9296
  font-size: 14px
  font-weight: 400
  margin: 0

.footer-center
  width: 35%
  p
    display: inline-block
    color: #fff
    vertical-align: middle
    margin: 0
    font-family: arial
    span
      display: inline-block
      font-weight: 400
      font-size: 14px
      line-height: 2
      font-family: arial
    a
      color: #5383d3 !important
      text-decoration: none

.footer-right
  width: 20%

.footer-company-about
  line-height: 20px
  color: #92999f
  font-size: 13px
  font-weight: 400
  margin: 0
  span
    display: block
    color: #fff
    font-size: 14px
    font-weight: 700
    margin-bottom: 20px

.footer-icons
  margin-top: 25px
  a
    display: inline-block
    width: 35px
    height: 35px
    cursor: pointer
    background-color: #33383b
    border-radius: 2px
    color: #fff
    text-align: center
    line-height: 35px !important
    font-size: 20px !important
    margin-right: 3px
    margin-bottom: 5px
    text-decoration: none
    vertical-align: top

.medium, .footerNavHeading
  font-size: 16px
  line-height: 1.2
  color: #666

@media (max-width: 880px)
  footer
    font: bold 14px sans-serif
    .footer-left, .footer-center, .footer-right
      display: block !important
      width: 100% !important
      margin-bottom: 40px
      text-align: center
    .second_address_line
      margin: 10px 0 0 !important
      margin-top: 10px !important
    .footer-center i
      margin-left: 0
    .fa
      &:not(.member):before
        margin: 10px auto !important
        text-align: center !important
        display: block !important
      &.fa-tag:before, &.fa-clock:before, &.fa-user:before
        margin: 0 20px 0 0 !important
        display: inline-block !important

.footer-icons a
  color: #fff
  transition: all 300ms ease-in-out

p.fa,
p.fas,
p.far
  a
    display: inline-block
    color: #fff
    transition: all 300ms ease-in-out
  color: #fff
  transition: all 300ms ease-in-out
i.fa
  display: inline-block

footer 
  .fa,
  .fas,
  .far
    &:not(.plain):not(.member):before
      background-color: #33383b
      color: #fff
      font-size: 25px
      width: 38px
      height: 38px
      border-radius: 50%
      text-align: center
      line-height: 38px
      margin: 10px 15px
      vertical-align: middle
      transition: color 200ms ease-in-out
      display: inline-block