.anchor
	margin-top: -75px
	margin-bottom: 100px
section 
	margin-top: 10px

	& #parental
		display: none
		&.visible
			display: block
.control-label.reg
	font-weight: normal
.required
	&:after
		content: "*"
		color: $red
		font-weight: bold
.fa
	&.fa-home:before
		content: '\f015'
	&.fa-users:before
		content: '\f0c0'
	&.fa-bicycle:before
		content: '\f206'
	&.fa-mobile:before
		content: '\f10b'
	&.fa-health:before
		content: '\f0fa'
	&.fa-list:before
		content: '\f03a'
	//booking
	&.fa-calendar
		content: '\f073'
	&.fa-payment
		content: '\f1ed'
	&.fa-info
		content: '\f129'
	

.dob-item
	display: inline-block
	width: 105px
	vertical-align: top
	text-align: left
	&.day
		width: 85px
	&.year
		width: 85px
@media all and (max-width: 420px)
	.dob-item
		width: 100% !important
 
#pricing
	transition: color 250ms ease-in-out
	&.updated
		p
			a
				color: $brand-success !important

.remove-btn 
	display: block
	background-color: $brand-danger
	width: 100px
	height: 30px
	line-height: 30px
	margin: auto
	color: #fff
	position: relative
	float: right
	cursor: pointer
	overflow: hidden
	border-radius: 5px
	box-shadow: 0 0 20px 0 rgba(0,0,0,.3)
	transition: $transition
	
	span,
	.icons
		display: block
		height: 100%
		text-align: center
		position: absolute
		top: 0
		color: white !important
	
	
	span 
		width: 72%
		line-height: inherit
		font-size: 12px
		text-transform: uppercase
		left: 0
		transition: $transition
		
		&:after 
			content: ''
			background-color: darken($brand-danger, 3%)
			width: 2px
			height: 70%
			position: absolute
			top: 15%
			right: -1px

	.icons
		width: 28%
		right: 0
		transition: $transition
		font-size: 20px
		.fa 
			font-size: 25px
			vertical-align: middle
			transition: $transition, height $speed ease
			display: inline-block
			font: normal normal normal 14px/1 FontAwesome
			font-size: inherit
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
			transform: translate(0, 0)
			line-height: 30px
			color: #fff
		
		.fa-remove 
			height: 36px
			&:before
				content: "\f00d"

		
		.fa-check 
			display: none
			&:before
				content: "\f00c"
	
	
	&.success,
	&:hover 
		
		span 
			left: -72%
			opacity: 0
		
		
		.icons
			width: 100%
			
			.fa 
				font-size: 25px

	&.success 
		background-color: $brand-success
		.icons
			.fa-remove 
				display: none
			.fa-check 
				display: inline-block
	&:hover 
		opacity: .9
		
		.icons .fa-remove 
			height: 25px
	&:active 
		opacity: 1
	
