@mixin hidden() 
	display: none
	visibility: hidden

@keyframes pulse 
	0% 

		box-shadow: 0 0 0 0 lighten($red, .4)

	17.5% 
		box-shadow: 0 0 0 10px transparent

	25% 
		box-shadow: 0 0 0 0 transparent
	100%
		box-shadow: 0 0 0 0 transparent

@keyframes flashy
	0%
		border-color: #000

	50%
		border-color: #21a1e1

	100% 
		border-color: #000
		
@keyframes rotate 
	0% 
		
		transform: rotate(0deg)

	50% 

		transform: rotate(360deg)

@keyframes fade 
	0%
		opacity: 0

	100% 
		opacity: 1

@keyframes ball-spin-fade
	0%,
	100%
		opacity: 1
		transform: scale(1)

	50%
		opacity: .25
		transform: scale(.5)
	
@keyframes ball-spin-fade-rotate 
	100%
		transform: rotate(360deg)
@keyframes spin
	from 
		transform: scale(1) rotate(0deg)
	to
		transform: scale(1) rotate(360deg)