.carousel-inner
	position: relative
	width: 100%
	min-height: 300px
	border: 2px solid #ccc
	border-radius: 5px
	.item
		margin: 0
		width: auto !important
.product_image_container
	max-width: 450px

.carousel-control
	&.right
		right: 0
		left: auto
		background-image: none !important
		background-repeat: repeat-x
	&.left
		left: 0
		right: auto
		background-image: none !important
		background-repeat: repeat-x

#carousel-example-generic
	margin: 20px auto
	width: 100%

#carousel-custom
	.carousel-indicators
		margin: 10px 0 0
		overflow: auto
		position: static
		text-align: left
		white-space: nowrap
		width: 100%

		li
			background-color: transparent
			-webkit-border-radius: 0
			border-radius: 0
			display: inline-block
			height: auto
			margin: 0 !important
			width: auto
			img
				display: block
				opacity: 0.5
		.active img
			opacity: 1
		li:hover img
			opacity: 0.75
	.carousel-outer
		position: relative

.carousel-indicators li img
	height: 66px
	width: 52px