input#captcha_code
	background: 0
	border: 0
	border-bottom: 2px solid #21a1e1
	color: #21a1e1
	font-size: 15px
	display: inline-block
	padding: 5px 10px

input.rwc_new
	background: 1
	border: 0
	border-bottom: 2px solid #21a1e1
	color: #21a1e1
	font-size: 15px
	display: inline-block
	padding: 5px 10px
	transition: all 0.15s ease-out
	margin-bottom: 7px
	width: 100%
	box-shadow: none !important
	outline: 0
	background-color: transparent
		
	& [type="email"],
	& [type="text"],
	& [type="date"],
	& [type="number"]
	&:focus, &:active
		outline: 0
	
	&[type="date"]
		color: transparent
	&[type="text"] ~ label,
	&[type="number"] ~ label,
	&[type="date"] ~ label,
	&[type="email"] ~ label
		position: absolute
		top: 10%
		left: 0
		-webkit-transform: translateY(-25%)
		-moz-transform: translateY(-25%)
		transform: translateY(-25%)
		font-style: italic
		color: #666
		font-size: 15px
		pointer-events: none
		-webkit-transition: all .15s ease-out 0
		-moz-transition: all .15s ease-out 0
		transition: all 0.15s ease-out 0
	&[type="submit"]:active
		color: #fff
		background: #21a1e1
	&[type="checkbox"]	+ label
		height: 40px
		width: 40px
		z-index: 0
		display: inline-block
		position: absolute
		top: 0
		left: 0
		div
			height: 20px
			width: 20px
			border: solid 2px rgba(33, 161, 225, 0.6)
			margin: 10px
			border-radius: 50%
			transform: rotate(45deg)
			transition: all 100ms ease-in-out, border 50ms ease 100ms
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			margin: auto
		height: 40px
		width: 40px
		margin: 0
		opacity: 0
		z-index: 1
		position: relative
		cursor: pointer
	&.small
		width: 25%
		float: left
	&:checked + label
		background-color: #21a1e1
		> div
			border-radius: 0
			border-top: 0
			border-left: 0
			border-color: rgba(240, 240, 240, 0.9)
			height: 25px
			width: 15px
			margin-top: 2px
			margin-left: 12px
			transform: rotate(40deg)
			transition: all 150ms ease-in-out
.input-group-addon.rwc_new
	background-color: transparent
	border-radius: 0
	color: $blue
	border: none
	font-size: 20px
	border-bottom: 2px solid $blue
textarea.rwc
	width: 100%
	height: 250px
	resize: none
	display: block
	outline: 0
	border: 2px solid #21a1e1
	color: #21a1e1
	background-color: #eee
	transition: background-color 150ms ease-in-out
	padding: 10px
	line-height: 1.6
	&.has-value, &:hover, &:active
		background-color: #fff

input.rwc_new
	&[type="date"],
	&:focus, &.has-value
		color: #21a1e1
	&.center
		display: block !important
		margin: 20px auto !important
.has-error .rwc_new
	border-color: $red
.has-success .rwc_new
	border-color: $green


//Check and radio boxes
.control-group
	display: inline-block
	vertical-align: top
	background: #fff
	text-align: left
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
	padding: 30px
	width: 200px
	height: 210px
	margin: 10px

label.control
	display: inline-block
	position: relative
	padding-left: 30px
	cursor: pointer
	font-size: 18px
	font-weight: normal
	user-select: none

	&:not(:last-child)
		margin-right: 15px

	input
		position: absolute
		z-index: -1
		opacity: 0
		
		&:focus ~ .control__indicator
			background: $grey
		&:checked ~ .control__indicator
			background: $blue
		&:checked:focus ~ .control__indicator
			background: $blue
		&:disabled ~ .control__indicator
			background: $light-grey
			opacity: 0.6
			pointer-events: none
		&:checked ~ .control__indicator:after
			display: block
	


	&.control--radio

		.control__indicator
			border-radius: 50%
			&:after
				left: 7px
				top: 7px
				height: 6px
				width: 6px
				border-radius: 50%
				background: #fff
		input:disabled ~ .control__indicator:after
			background: #7b7b7b

	& > .control__indicator
		position: absolute
		top: 2px
		left: 0
		height: 20px
		width: 20px
		background: $light-grey



	&:hover input ~ .control__indicator
		background: $grey


	&:hover input:not([disabled]):checked ~ .control__indicator
		background: $blue

	.control__indicator:after
		content: ''
		position: absolute
		display: none
.control--check .control__indicator:after
	left: 7px
	top: 2px
	width: 7px
	height: 13px
	border: solid #fff
	border-width: 0 2px 2px 0
	transform: rotate(45deg)
	
	input:disabled ~ .control__indicator:after
		border-color: #7b7b7b
textarea.rwc_new
	width: 100%
	height: 100px
	resize: none
	display: block
	outline: 0
	border: 2px solid #21a1e1
	color: #21a1e1
	background-color: #eee
	transition: background-color 150ms ease-in-out
	padding: 10px
	line-height: 1.6
	&.has-value, &:hover, &:active
		background-color: #fff