.loader
	position: absolute
	left: 0
	right: 0
	bottom: 0
	top: 0


	.content
		max-width: 400px
		width: 90%
		height: 100%
		max-height: 200px
.processing
	overflow-x: hidden
	overflow-y: scroll !important
	-webkit-filter: blur(5px)
	-moz-filter: blur(5px)
	-o-filter: blur(5px)
	-ms-filter: blur(5px)
	filter: blur(5px)

div#loading_screen
	position: fixed
	left: 0
	top: 0
	bottom: 0
	right: 0
	z-index: 99999
	text-align: center
	opacity: 1
	background: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, 0.9), rgba(158, 160, 162, 0.9))
	background: linear-gradient(-135deg, rgba(255, 255, 255, 0.9), rgba(158, 160, 162, 0.9))
	overflow: hidden
	-webkit-animation: fade .2s ease-in 0s 1 normal both
	animation: fade .2s ease-in 0s 1 normal both
	.loading__main
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		margin: auto
		width: 400px
		height: 400px
		.image
			height: 50px
			width: 50px
			-webkit-animation: fade .3s ease-out 0.1s 1 normal both, rotate 2s linear infinite
			animation: fade .3s ease-out 0.1s 1 normal both, rotate 2s linear infinite
			background-size: 100% 100%
			background-repeat: no-repeat
			background-image: url('../images/loading/wheel.png')
			margin: 20px auto

.main_loading_text
	font-size: 40px
	color: #333
	font-style: italic
	margin-bottom: 20px
	display: block
	animation: fade .2s ease-out 100ms 1 normal both
	-webkit-animation: fade .2s ease-out 100ms 1 normal both

.help_message_loading
	font-size: 22px
	font-style: italic
	color: #333
	animation: fade .3s ease-out 200ms 1 normal both
	-webkit-animation: fade .3s ease-out 200ms 1 normal both
#loader-bg
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: transpartent

	z-index: 99
#message.loaded,
#loader.loaded
	opacity: 1
	
#loader
	position: absolute
	top: 50%
	left: 50%
	z-index: 100
	opacity: 0
	transition: opacity 200ms ease-in-out
	transition-delay: 0
	transform: translate(-50%, -50%)


#message
	opacity: 0
	margin-top: 20px
	display: block
	position: absolute
	top: 60%
	left: 0
	right: 0 
	transition: opacity 150ms ease-in-out
	transition-delay: 400ms
.loading-circle
	position: relative
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0 auto

	> div
		position: relative
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	display: block
	font-size: 0
	color: #fff
	&.la-dark
		color: #333
	
	> div
		display: inline-block
		float: none
		background-color: $blue
		border: 0 solid $blue
		position: absolute
		top: 50%
		left: 50%
		width: 15px
		height: 15px
		margin-top: -4px
		margin-left: -4px
		border-radius: 100%
		
		animation: ball-spin-fade 1s infinite linear
	
		&:nth-child(1)
			top: 5%
			left: 50%

			animation-delay: -1.125s
		&:nth-child(2)
			top: 18.1801948466%
			left: 81.8198051534%
			animation-delay: -1.25s
		&:nth-child(3)
			top: 50%
			left: 95%

			animation-delay: -1.375s
		&:nth-child(4)
			top: 81.8198051534%
			left: 81.8198051534%
			animation-delay: -1.5s
		&:nth-child(5)
			top: 94.9999999966%
			left: 50.0000000005%
			animation-delay: -1.625s
		&:nth-child(6)
			top: 81.8198046966%
			left: 18.1801949248%
			animation-delay: -1.75s
		&:nth-child(7)
			top: 49.9999750815%
			left: 5.0000051215%
			animation-delay: -1.875s
		&:nth-child(8)
			top: 18.179464974%
			left: 18.1803700518%
			animation-delay: -2s

	&.white
		> div
			background-color: #fff
			border: 0 solid #fff
	width: 75px
	height: 75px
	animation: ball-spin-fade-rotate 6s infinite linear
	margin: 0 auto
	&.la-sm
		width: 16px
		height: 16px
		> div
			width: 4px
			height: 4px
			margin-top: -2px
			margin-left: -2px
	&.la-2x
		width: 64px
		height: 64px
		> div
			width: 16px
			height: 16px
			margin-top: -8px
			margin-left: -8px
	&.la-3x
		width: 96px
		height: 96px
		> div
			width: 24px
			height: 24px
			margin-top: -12px
			margin-left: -12px