.status
	min-height: 40px
	background-color: white
	text-align: center
	margin: 0 auto
	z-index: 999
#booking_progress,
#registration_progress
	&.fixed
		position: fixed
		top: 0
		right: 0
		left: 0
		margin: 0 auto
		border-top: 4px solid #21a1e1
		&.admin
			top: 32px
	ul
		li
			list-style: none
			margin-left: 0
			display: inline-block
			a
				display: block
				height: 40px
				line-height: 40px
				background: white
				text-align: center
				padding: 0px 0px 0px 5px
				position: relative
				margin: 0 0px 0 5px
				margin-right: 20px
				font-family: "Open Sans", Helvetica, Arial, sans-serif
				font-size: 1.2vw
				font-size: 12px
				text-decoration: none

				color: #21a1e1
				transition: all 80ms ease-in-out

				&.complete i.registration_icon:before
					content: '\f00c'
					color: #3c763d
				&.error i.registration_icon:before
					content: '\f00d'
					color: #a94442

			&:not(:last-child) a:after
				content: ""
				border-top: 20px solid transparent
				border-bottom: 20px solid transparent
				border-left: 20px solid #fff
				position: absolute
				right: -20px
				top: 0
				transition: all 100ms ease-in-out
			&:last-child a
				padding-right: 5px
			a
				&:before
					content: ""
					position: absolute
					border-width: 20px 0 20px 20px
					border-style: solid
					border-color: #fff #fff #fff transparent
					left: -20px
					transition: all 60ms ease-in-out
				i.registration_icon:before
					left: 3px
				span
					&.content
						margin-left: 30px
					&.tablet_content
						display: none
			&:first-child a:before
				display: none
				margin-left: -25px
			&:last-child a
				border-top-right-radius: 10px
				border-bottom-right-radius: 10px
				border-bottom-left-radius: 1px
				border-color: white
				margin: 0px
				padding-right: 5px
			&:first-child a
				border-top-left-radius: 10px
				border-bottom-left-radius: 10px
				border-bottom-right-radius: 1px
				border-color: white
			a
				&:not(.complete):hover
					background: #21a1e1
					color: white
					&::before
						border-color: #21a1e1 #21a1e1 #21a1e1 transparent
					&::after
						border-top: 20px solid transparent
						border-bottom: 20px solid transparent
						border-left: 20px solid #21a1e1
					i.registration_icon:before
						color: white !important
				i.registration_icon
					width: auto
					vertical-align: middle
					padding: 0
					height: 38px
					line-height: 38px !important
					position: relative
					background-color: transparent
					border-top-right-radius: 19px
					border-bottom-right-radius: 19px
					text-align: center
					&:before
						background-color: transparent
						border-radius: 0px
						color: #21a1e1
						width: 40px
						height: 100%
						line-height: 40px
						left: -10px
						margin: 0 20px 0 0 !important
						margin-right: 20px
						position: absolute
						font-size: 25px
		background-color: #21a1e1
		min-height: 40px
		margin: 0 auto
		border-top: 2px solid white
		-webkit-padding-start: 0px
		border: 4px solid #21a1e1
		border-top: none
		display: inline-block


@media screen and (max-width: 1200px)
	#booking_progress ul,
	#registration_progress ul
		min-height: 40px
		li
			a
				height: 40px
				line-height: 40px
				padding: 0px 0px 0px 0px
				font-size: 10px
			&:not(:last-child) a:after
				content: ""
				border-top: 20px solid transparent
				border-bottom: 20px solid transparent
				border-left: 20px solid #fff
				position: absolute
				right: -20px
				top: 0
			&:last-child a
				padding-right: 5px
			a
				&:before
					content: ""
					position: absolute
					border-width: 20px 0 20px 20px
					border-style: solid
					border-color: #fff #fff #fff transparent
					left: -20px
				i.registration_icon:before
					left: 3px
				span.content
					margin-left: 43px
@media screen and (max-width: 1100px)
	#booking_progress ul li a,
	#registration_progress ul li a
		width: auto
		span.content
			display: none
		span.tablet_content
			display: inline-block
			margin-left: 40px
			font-size: 10px


@media screen and (max-width: 850px)
	#booking_progress ul li a,
	#registration_progress ul li a
		span.tablet_content,
		span.content
			display: none
		width: 30px
		i.registration_icon:before
			left: -20px

