.circleNumber
	
	width: 150px
	height: 100px
	border-top-left-radius: 10px
	border-top-right-radius: 10px
	background-color: $blue
	font-size: 75px
	line-height: 100px
	color: #fff
	margin: 0 auto
	text-align: center
.sessionHomeInfo
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	width: 100%
	min-height: 100px
	background-color: #fff
	border-radius: 5px
	margin-top: 20px
.sessionName
	text-align: center
	font-size: 22px
	padding: 10px
	display: table
	width: 100%
	& div
		display: table-cell
		vertical-align: middle
		width: 100%
		margin: 0 auto
		text-align: center
		height: 80px
		& p	
			display: block
			margin: 0
.sessionTimes
	padding: 16px
	border-radius: 0 0 2px 2px
	background-clip: padding-box
	box-sizing: border-box
	background-color: $blue

	p
		margin: 0
		color: #fff
		font-size: 22px
		text-align: center
.sessionInfo,
.sessionBook
	background-color: #fff
	padding: 16px

.sessionBook
	border-top: 1px solid $gray-lighter
@media all and (max-width: 580px)
	.sessionName
		font-size: 16px
		.sessionNameInner
			height: auto
	.sessionTimes
		padding: 5px
		& p
			font-size: 18px

