<div class="item noresize">
    <p class="medium">Date of Birth<span class="red">*</span></p>
    <input type="number" name="form_dob_day" id="form_dob_day" max-value="31" min-value="1" class="small_dob" placeholder="Day" value="<?php echo (isset($_SESSION['form_dob_day']))? $_SESSION['form_dob_day']:'' ;?>" <?php if(isset($_SESSION[
        'form_dob_day'])) echo (isset($formErrors[ "form_dob_day"]))? 'class="error"': 'class="valid"';?>>
    <div class="dropdown" id="month_dd">
        <span><?php echo (isset($_SESSION['form_dob_month']) && $_SESSION['form_dob_month'] != '0')? $_SESSION['form_dob_month'] : 'Month';?></span>
        <ul class="dropdown_list" <?php if(isset($_SESSION[ 'form_dob_month'])) echo (isset($formErrors[ "form_dob_month"]))? 'class="error"': '';?>>

            <ul>
                <li><a href="#">January</a></li>
                <li><a href="#">February</a></li>
                <li><a href="#">March</a></li>
            </ul>
            <ul>
                <li><a href="#">April</a></li>
                <li><a href="#">May</a></li>
                <li><a href="#">June</a></li>
            </ul>
            <ul>
                <li><a href="#">July</a></li>
                <li><a href="#">August</a></li>
                <li><a href="#">September</a></li>
            </ul>
            <ul>
                <li><a href="#">October</a></li>
                <li><a href="#">November</a></li>
                <li><a href="#">December</a></li>
            </ul>




        </ul>
        <input type="hidden" name="form_dob_month" id="form_dob_month" value="<?php echo (isset($_SESSION['form_dob_month']) && $_SESSION['form_dob_month'] != '0')? $_SESSION['form_dob_month'] : '0';?>" id='input_dob_month'>
    </div>
    <input type="number" name="form_dob_year" id="form_dob_year" min-value="1916" class="small_dob" placeholder="Year" value="<?php echo (isset($_SESSION['form_dob_year']))? $_SESSION['form_dob_year']:'' ;?>" <?php if(isset($_SESSION[ 'form_dob_year'])) echo
        (isset($formErrors[ "form_dob_year"]))? 'class="error"': 'class="valid"';?>>

    <span class="message error dob <?php echo isset($formErrors['dob']) ? 'visible': '';?>"><?php echo isset($formErrors['dob']) ? $formErrors['dob']: '';?></span>
    <p class="medium emailHighlight error">NOTE: We only recommend participents under the age of 6 to attend the beginner sessions only.</p>

</div>
</div>
