<!--<div id="home_wrapper">
<div id="home_slideshow_wrapper">[metaslider id=138]</div>
<div id="home_content_wrapper">-->
<div class="container">
	<div class="jumbotron">
		<h1>Welcome to RampWorld Cardiff</h1>
		<p>RampWorld Cardiff is a Extreme sport facility located in Llanishen, Cardiff</p>
	</div>
	<div class="row">

		<div class="col-md-4 col-sm-6 col-xs-6 col-ms-12">
			<div class="card ">
				<div class="card-image ">
					<img src="http://www.rampworldcardiff.co.uk/wp-content/uploads/2017/07/Screen-Shot-2017-07-16-at-22.44.10.png
		 " class="img-responsive ">
					<span class="card-title ">RampWorld Membership</span>
				</div>
				<div class="card-content ">
					<p>RampWorld Cardiff Registration Form</p>
				</div>
				<div class="card-action ">
					<a class="btn btn-default " href="http://www.rampworldcardiff.co.uk/membership ">Learn More</a><a class="btn btn-primary
		 " href="http://www.rampworldcardiff.co.uk/membership/registration ">Register here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6 col-ms-12 ">
			<div class="card ">
				<div class="card-image ">
					<img src="http://www.rampworldcardiff.co.uk/wp-content/uploads/2017/07/Screen-Shot-2017-07-16-at-23.19.12.png
		 " class="img-responsive ">
					<span class="card-title ">Opening Times and Prices</span>
				</div>
				<div class="card-content ">
					<p>Please visit for a full breakdown of your opening times and our prices</p>
				</div>
				<div class="card-action ">
					<a class="btn btn-default " href="http://www.rampworldcardiff.co.uk/opening-hours ">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6 col-ms-12 ">
			<div class="card ">
				<div class="card-image ">
					<img src="http://www.rampworldcardiff.co.uk/wp-content/uploads/2015/06/scoot3.jpg " class="img-responsive ">
					<span class="card-title ">The Skatepark</span>
				</div>
				<div class="card-content ">
					<p>Fancy a look at the skatepark? We have pictures of every section within the skatepark!</p>
				</div>
				<div class="card-action ">
					<a class="btn btn-default " href="http://www.rampworldcardiff.co.uk/park ">View the park</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="col-xs-6 ">
			<div class="card ">

				<div class="card-content ">
					<p>RampWorld Cardiff Rules</p>
				</div>
				<div class="card-action ">
					<p class="lead ">Below are the main rules that everyone must adhere too.</p>
					<ul>
						<li>
							<p>All scooter riders and everyone under the age of 16 must wear a helmet at RampWorld Cardiff. No Exceptions.</p>
						</li>
						<li>
							<p>All Scooters and Bikes must have Bar end plugs fitted to their handlebars, we sell them in the park for £4 a pair</p>
						</li>
						<li>
							<p>We do not rent helmets, however, helmets start from £20</p>
						</li>
						<li>
							<p>No fold-up scooters, no three wheeled scooters.</li>
						<li>
							<p>RampWorld Cardiff has a new membership registration system. It's a free service. All customers will need to register
								as members and will be allocated a unique membership number. Please provide this number at reception fast entry.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-6 ">
			<div class="card ">

				<div class="card-content ">
					<p>Information</p>
				</div>
				<div class="card-action ">
					<p class="lead ">RampWorldCardiff is a non profit making charity set up to provide a progressive indoor Extreme sports training facility
						for South Wales.</p>
					<p class="lead ">There is no need to book in advance, but all participants must register <a href="http://www.rampworldcardiff.co.uk/membership/registration
		 " class="btn btn-link ">here</a></p>
				</div>
			</div>
		</div>
	</div>
	<!--<div>
<p class="lead ">Information</p>
<small>Our goal is to reduce the queue time, allowing the participant more time to use our facilities.</small>
<p class="small ">For this to be successful, we suggest becoming a member before attending the skatepark, however, we do provide online registrations at RampWorld Cardiff.</p>

</div>
<div>
<p class="lead ">Information</p>
<small>Our goal is to reduce the queue time, allowing the participant more time to use our facilities.</small>
<p class="small ">For this to be successful, we suggest becoming a member before attending the skatepark, however, we do provide online registrations at RampWorld Cardiff.</p>
<p class="medium ">What you need to provide</p>

<div class="rules-container ">
<ol>
	<li>Participant’s details such as name, number, postal address and date of birth</li>
	<li>A valid email address – We will send you an email confirming and to verify your details.</li>
	<li>If under 16, a parent/ guardian must provide their details such as name, Number and a valid email address – We will send you an email confirming and to verify the participant’s details.</li>
	<li>At least one emergency contact name and number. Maximum of two.</li>
</ol>
</div>
<div>
<p class="medium ">Whats Next?</p>
<p class="small ">Use our easy-to-use registration form and become a RampWorld Cardiff Member!</p>
<p class="small ">Click the button below to start or follow the link.</p>
<p style="text-align: center; "><a class="button " href="http://www.rampworldcardiff.co.uk/membership/registration ">REGISTER HERE</a>
<a href="http://rampworldcardiff.co.uk/membership/registration ">http://rampworldcardiff.co.uk/membership/registration</a></p>

</div>
</div>
<h1>Information</h1>
<p class="medium ">RampWorldCardiff is a non profit making charity set up to provide a progressive indoor Extreme sports training facility for South Wales.</p>
<p class="medium ">There is no need to book in advance, but all participants must register <a href="http://www.rampworldcardiff.co.uk/membership/registration ">here</a></p>

<h1>Rules</h1>
<p class="medium ">All scooter riders and everyone under the age of 16 must wear a helmet RampWorld Cardiff. No Exceptions</p>
<p class="medium ">All Scooters and Bikes must have Bar end plugs fitted to their handlebars, we sell them in the park for £4 a pair</p>
<p class="medium ">We do not rent helmets, however, helmets start from £20</p>
<p class="medium ">No fold-up scooters, no three wheeled scooters.</p>-->

</div>